@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root{
  /* ### Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --text-white: hsl(0, 0%, 95%);

  /* ### Secondary */
  --red: hsl(0, 87%, 67%);

  /* ### Neutral */
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
}

/* General */
body,html{
  height: 100vh;
  font-family: var(--body-font);
}

h1{
  color: var(--very-dark-violet);
}

h2,h3{
  color: var(--very-dark-blue);
}

p, a{
  color: var(--grayish-violet);
}

/* Presets */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 300ms ease;
}

.btn-primary{
  background-color: var(--cyan);
  color: var(--text-white);
}

.btn-primary:hover{
  background-color:hsl(180, 66%, 69%);
}

.bg-gray{
  background-color: var(--text-white)
}

.bg-secondary{
  background-color: var(--dark-violet);
}

.text-dark-violet{
  color: var(--very-dark-violet)
}

.text-cyan{
  color: var(--cyan)
}

.bg-cyan{
  background-color: var(--cyan);
}

.link-primary{
  color: var(--cyan)
}

.link-primary:hover{
  color:hsl(180, 66%, 69%);
}

/* Navbar */
.bg-nav{
  background-color: var(--dark-violet);
}

/* Shortener */
.shorten-bg{
  background: no-repeat;
  background-color: var(--dark-violet);
  background-size: cover;
  background-image: url('../../assets/img/bg-shorten-desktop.svg');
}